<app-header></app-header>
<div class="login-container">
  <h1>Insira seus dados</h1>

  <form (ngSubmit)="onLogin()">
    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
      name="email"
      required
    />

    <input
      type="password"
      placeholder="Senha"
      [(ngModel)]="senha"
      name="senha"
      required
    />

    <a class="forgot-link" routerLink="/recuperar-senha">Esqueceu sua senha?</a>

    <button type="submit" class="login-btn">Login</button>
  </form>

  <p class="register-text">Ainda não tem uma conta?</p>
  <a class="register-link" routerLink="/criar">Crie agora!</a>
</div>
