<div class="container">
  <app-headercadastrado></app-headercadastrado>

  <main class="form-container">
    <h1>Alterar Informações</h1>

    <div class="profile-photo">
      <img [src]="fotoPreview || iconeusuario" alt="Foto de perfil" />
      <input type="file" accept="image/*" (change)="onFileSelected($event)" />
    </div>

    <form (ngSubmit)="salvar(nome.value, email.value, senha.value)">
      <input id="nome" #nome placeholder="Nome" />

      <input id="email" type="email" #email placeholder="E-mail" />

      <input id="senha" type="password" #senha placeholder="Nova senha" />

      <button type="submit">Salvar</button>
    </form>

    <div class="mensagem-sucesso" >
      @if (mensagem){
        {{mensagem}}
      }
    </div>
  </main>
</div>
