.container {
  font-family: Arial, sans-serif;
  background-color: #fff;
  align-items: center;
}

.form-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 0px;
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100%;
}

button {
  background-color: #3A95DF;
  color: black;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: 422px;
}

button:hover {
  transform: scale(1.05);
  border-color: #3A95DF;
}

.profile-photo {
  margin: 20px 0;
  text-align: center;
}

.profile-photo img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #3A95DF;
  margin-bottom: 10px;
}

.profile-photo input {
  display: block;
  margin: 0 auto;
}

.mensagem-sucesso {
  margin-top: 15px;
  padding: 12px;
  border-radius: 6px;
  background-color: #fff;
  font-weight: bold;
  text-align: center;
  animation: fadeIn 0.4s ease-in-out;
}
