<nav class="header">
  <div class="logo" (click)="navigateToEscolhaSistema()">
    <a href="escolhasistema"><img [src]="imglogo" class="logo-img" /></a>
    <p class="txtheader"><a href="escolhasistema">Meu Pesqueiro</a></p>
  </div>

  <div class="menu" (click)="toggleMenu()">
    <img [src]="usericon" class="user-icon-img" />
    <p class="nome-usuario">{{ nomeUsuario }}</p>

    @if (menuAberto) {
      <div class="menu-usuario">
        <button (click)="alterarInformacoes()">Alterar informações</button>
        <button (click)="sair()">Sair</button>
      </div>
    }
  </div>
</nav>
