.content-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  text-align: center;
}

.content-page h1 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sub-titulo {
  font-size: 22px;
  color: gray;
  margin-bottom: 30px;
}

.botao-instalar {
  width: 14%;
  padding: 14px;
  background-color: #3A95DF;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

.botao-instalar:hover {
  transform: scale(1.1);
}
