<app-headercadastrado></app-headercadastrado>

<div class="container-pagamento">
  <main class="conteudo">
    <h1>Assine agora por apenas<br>R$34,99/mês</h1>


    <p class="descricao">
      Tenha acesso completo ao sistema de gerenciamento do seu pesqueiro!
    </p>

    <ul class="beneficios">
      <li>
        <b>✔ Gerenciamento de funcionários</b><br />
        Cadastre, edite e acompanhe a equipe do seu pesqueiro
      </li>
      <li>
        <b>✔ Controle de Produtos</b><br />
        Registre entradas e saídas de produtos como varas de pesca, iscas e acessórios
      </li>
      <li>
        <b>✔ Relatórios inteligentes</b><br />
        Visualize o lucro mensal com gráficos e tabelas claras
      </li>
    </ul>

    <button class="botao-comprar" (click)="navigateToInstalar()">
      Compre agora
    </button>

    <p class="pagamento-seguro">🔒 Pagamento 100% seguro</p>
  </main>
</div>
