.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  text-align: center;
}

.main-content h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sub-text {
  font-size: 22px;
  color: gray;
  margin-bottom: 30px;
}

.register-btn {
  background-color: #3A95DF;
  color: black;
  font-size: 22px;
  padding: 15px 30px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.2s ease;
}

.register-btn:hover {
  background-color: #3A95DF;
}

.client-text {
  margin-top: 15px;
  font-size: 14px;
  font-weight: lighter;
}

.client-text a {
  color: #3498db;
  text-decoration: none;
}

.client-text a:hover {
  text-decoration: underline;
}
